node_modules/
*.pyc
__pycache__/
.pytest_cache/
# Ignore Django migration files
*.log
*.pot
*.pyc
*.so
*.zip
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite
*.pdb
*.egg-info
*.egg
*.cover
*.coverage
.coverage.*
.cache
.tox
.nox
.pytest_cache
.coverage
nosetests.xml
coverage.xml