node_modules/
front-end
.installed.cfg
.mr.developer.cfg
eggs
develop-eggs
parts
bin
*.log
*.pyc
*.egg-info
src
.coverage
.vagrant
.DS_Store
htmlcov
*.tmp
log_files.yml
nohup.out
.vscode/
__pycache__/

node_modules
.cache
dist
.env
coverage
nohup.out
yarn-error.log
.vscode/
.DS_Store
